body{
    font-family: 'Arial';
    font-size: 20px;
    color: #0D0D0D;
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
}
.scrool{
    text-align: center;
    text-transform: uppercase;
    color:#FF4B33;
    letter-spacing: 1px;
    padding-top: 10px;
    font-size: 14px;
    text-shadow: 1px 1px 5px rgba(255, 75, 51, 0.5);

}
.scrool-down{
    display: flex;
    margin: auto;
    color: #FF4B33;
    height: 20px;
    width: 60px;
    padding-top: 5px;
}

.home{
    width: 100%;
    height: 735px;
    background-color: #333333;

}
.my-pic{
    position: relative;
    top: 11.5%;
    display: flex;
    margin: auto;
    height: 500px;
    width: 500px;
    border: solid #FF4B33 2px;
    border-radius: 50%;
}
h1{
    position: relative;
    top:75px;
    text-shadow: 1px 1px 5px rgba(255, 75, 51, 0.5);
    display: flex;
    justify-content: center;
    color: #FF4B33;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 20px;
    font-size:26px ;
}
h6{
    position: relative;
    color: white;
    font-size: 14px;
    text-align: center;
    top :7.5px;
}
.about{
    color: black;
    text-align: center;
    padding-top: 2%;
    letter-spacing: 1px;
    line-height:30px;
    margin: 7%;


}
.contact{
    display: flex;
    justify-content: center;


}
.contact-icon{
    padding: 4px;
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;
    position: relative;
    max-width: 50px;
    transition: all 0.3s;
    left: 32%;

}
.contact-icon:hover{
    transform: rotateZ(-10deg);
    padding: 5px;
    max-width: 3.3rem;
}

.programming-lang{
    max-width: 100px;
    transition: all 0.5s;
}
.programming-lang:hover{
    transform: scaleX(1.1);
    transform: scaleY(1.1);




}
/* .Java{width: 50%;background-color: #F24738;}
.html-css{width: 85%;background-color: #F24738;}
.photoshop{width: 80%; background-color: #F24738;}
.python{width: 30%; background-color: #F24738;}
.csharp{width: 5%; background-color: #F24738;} */

.footer{
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #333333;
    text-align: center;
    font-size: 14px;
    color: #FF4B33;
    text-transform: uppercase;
    letter-spacing: 2px;


}
.copyright-footer{
    position: relative;
    top: 30px; 
}
