body{
    font-family: 'Arial';
    font-size: 20px;
    color: #0D0D0D;
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: max-content;
}

.home{
    width: 100%;
    height: 100%;
    background-color: #333333;
}
.my-pic{
    position: relative;
    top:3%;
    display: flex;
    margin: auto;
    height: 250px;
    width: 250px;
    border: solid #FF4B33 2px;
    border-radius: 50%;
}
/* my name */
h1{
    position: relative;
    top:3%;
    margin-bottom: 4%;
    color: #FF4B33;
    text-shadow: 1px 1px 5px rgba(255, 75, 51, 0.5);
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size:26px ;
}
.programming-lang{
    max-width: 75px;
    transition: all 0.65s;
}
.programming-lang:hover{
    transform: rotate(360deg);
}

.about{
    color: white;
    text-align: center;
    letter-spacing: 1px;
    line-height:30px;
    position: relative;
    top: 5.5%;
}
.social-media{
    display: flex;
    justify-content: center;
}
.social-media a {
    font-size: 35px;
    margin-right: 15px;
    text-decoration: none;
    color: #FF4B33 ;
    margin-top: 8.3%;
    transition: all 0.3s;
}
.social-media a:hover{
    font-size: 40px;

    color: #FF4B33 ;
    margin-top: 8.3%;
}

/* responsive */
@media only screen and (max-width: 450px) {
    .contact a {
        font-size: 35px;
        margin-right: 15px;
        text-decoration: none;
        color: #FF4B33 ;
        margin-top: 22%;
    }
}
@media only screen and (min-width: 750px) {
    .contact a {

        margin-top: 12.2%;
    }
}

@media only screen and (min-width: 950px) {
    .contact a {

        margin-top: 8.1%;
    }
}
/* footer */
.copyright{
    position: relative;
    margin-top: 3%;
    text-align: center;
    letter-spacing: 1px;
    font-size: 14px;
    color: #FF4B33;
    text-shadow: 1px 1px 5px rgba(255, 75, 51, 0.5);
}
